<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Moodvie</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
<h1>moodvie</h1>

<h2>City:</h2>
<div id='weather'>
  <input type='text' name='city' id='city'>
    <button id='citySubmit'>submit</button>
<br>
</div> 
<div id='colors'>
    <h2>Colors:</h2>
      <input type='image' src='brown.jpg' id='color1' name='color' value='0'>
      <input type='image' src='yellow.gif' id='color2' name='color' value='1'>
      <input type='image' src='blue.png' id='color3' name='color' value='2'>
</div>
<br>

<div id='rorschack'>
  <h2>Rorschach:</h2>
    <input type='image' src='brown.jpg' id='rorschach1' name='rorschach' value='0'>
    <input type='image' src='yellow.gif' id='rorschach2' name='rorschach' value='1'>
    <input type='image' src='blue.png' id='rorschach3' name='rorschach' value='2'>
</div>
<br>
<form method='POST' action='/results'>
<button id='movieSubmit' type=submit>Show Me My Movie</button>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

$('#citySubmit').click(function(){
    $.post('/weather', {
      city: $('#city').val()
      }, 
      function(data) {
    }
  )}) 


  $('#color1, #color2, #color3').click(function(){
    console.log($(this).val())
    $.post('/color', {
      color: $(this).val(), 
      }, 
      function(data) {
      //console.log(data.colorResult) 
      console.log($(this).val())
    }
  )}) 
  })

    $('#rorschach1, #rorschach2, #rorschach3').click(function(){
    $.post('/rorschack', {
      color: $(this).val(), 
      }, 
      function(data) {
      console.log($(this).val()) 
    }
)}) 

/*  WHAT ARE THE NXT STEPS?
1. on click - give value to color + rorschach - now only takes in the value from the 'else' = 2
2. integrate it into frontend style. 
3. if enough time, define different cities into weather
*/
    // total += parseInt($(this).val()) //have to add weather into this
    // $('input[name=emotion]').val(Math.ceil(total/3))//result on frontend
    // console.log($(this).val())
    // console.log(total)

//console.log(weatherResult)


// $('#movieSubmit').click(function(){
//     $.post('/movie',
//     function(data) {
//       console.log(data)
//     }
//     )
//   })

</script>
</body>
</html>